# build files
Makefile
Makefile.in
aclocal.m4
app/.deps/
app/Makefile
ar-lib
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
lib/.deps/
lib/Makefile
missing
stamp-h1

# executables
app/node

# object files
*.o
