# dist files
bad.tar.gz
dist_root

# generated test files
test/recs-*

# generated m4 files
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# build files
.deps
.libs
.test-tmp/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.ac~
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
cppcheck.err

# test files
Procfile
conf
test-driver
test-suite.log
test/*.log
test/*.trs
test/buckets

# libraries
*.la

# object files
*.o
*.lo
