# dist files
bad.tar.gz
dist_root

# generated test files
test/recs-1gb

# build files
.deps
.test-tmp/
Makefile
Makefile.in
aclocal.m4
app/Makefile
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.ac~
depcomp
install-sh
lib/Makefile
libtool
ltmain.sh
m4/
missing
stamp-h1

# test files
test-driver
test-suite.log
test/*.log
test/*.trs

# libraries
*.la

# object files
*.o
*.lo
